body {
    padding-top:0px;
   
}

canvas {
    
    
    background-size: 100% 100%;
    background-image: url('https://raw.githack.com/vincentsit-1202/game/master/640.jpg');

    height:  800px;
    width: 640px;
    
}
